.container{
max-width:700px;
padding:30px;
background:#161b22;
border-radius:25px;
}

section{
margin-top:35px;
}

section h2{
color:cyan;
margin-bottom:15px;
}

.about p{
line-height:1.8;
color:#ddd;
}

.features{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.box{
background:#21262d;
padding:15px;
border-radius:12px;
color:white;
}

.card{
background:#21262d;
padding:15px;
border-radius:15px;
margin-bottom:10px;
color:white;
}

.card p{
margin-top:8px;
color:#bbb;
}
